@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.hero {
  background-image: url("https://res.cloudinary.com/depeqzb6z/image/upload/v1756185487/undraw_professor_d7zn-removebg-preview_wvludj.png"); /* your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}