.layout{
    background-image: url('https://res.cloudinary.com/depeqzb6z/image/upload/v1755622478/green-apple-pen-rubber_ni6zia.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
}
